variable "gcloud_region" {
    type = "string"
}

variable "gcloud_zone" {
    type = "string"
}

variable "gcloud_project" {
    type = "string"
}

variable "service_account_path" {
    type = "string"
}

variable "bucket" {
    type = "string"
}

variable "prefix" {
    type = "string"
}

variable "platform_name" {
    type = "string"
}

variable "project_description" {
    type = "string"
}

variable "subnet_cidrs" {
    type = "map"
}
